# Игнорирование всех файлов .pyc
*.pyc

# Игнорирование всех директорий *.egg-info
*.egg-info/

# Игнорирование файла базы данных SQLite
*.sqlite3

# Иногда база данных может называться просто *.sqlite
*.sqlite

# Игнорирование файлов
*.pycache
